<!-- -->

<launch>
	
	<arg name ="control_port" default = "/dev/ttyUSB1"/>
	<arg name ="scan_topic"   default = "/scan"/>
	
	
    <node name="lower_control_node" pkg="driverless" type="lower_control_node" output="screen">
    
        <param name="port_name" value="$(arg control_port)" />
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link"/>

        <param name="baud_rate" value="115200" />
        <param name="control_rate" value="10" />
        <param name="sensor_rate" value="5" />

        <param name="reduction_ratio" value="1.0" />
        <param name="encoder_resolution" value="1600.0" />

        <param name="wheel_diameter" value="0.25" />
        <param name="model_param" value="0.83" />
        <param name="pid_rate" value="50.0" />
		<param name="maximum_encoding" value="32.0" />
    </node>
    
   
    
    
    
</launch>
